/* Contenedor de productos */
.products-container {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  box-sizing: border-box; /* Asegura el cálculo correcto del ancho */
}

/* Filtros */
.filters {
  width: 20%;
  padding: 1rem;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Cuadrícula de productos */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* Tarjeta de producto */
.product-card {
  background-color: #ECCFA3;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.product-card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.product-card h4 {
  font-size: 1.2rem;
  color: #4C6770;
}

.product-card p {
  color: #944328;
  font-weight: bold;
}

/* Botón de "Add to Cart" */
.add-to-cart {
  background-color: #49A55A;
  color: #fff;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s;
}

.add-to-cart:hover {
  background-color: #3c8c4f;
}
