.product-detail-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  background-color: #FDF8E5; /* Fondo claro */
}

.product-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  border: 1px solid #944328; /* Borde de color */
  border-radius: 8px;
  padding: 20px;
  background-color: #FFF; /* Fondo blanco */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
  margin-right: 20px;
}

.product-detail-image {
  width: 100%;
  max-width: 300px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.product-detail-info {
  text-align: center;
}

.product-title {
  font-size: 24px;
  color: #944328; /* Color principal */
  margin-bottom: 10px;
}

.product-description {
  font-size: 16px;
  color: #4C6770; /* Texto gris */
  margin-bottom: 15px;
}

.product-price {
  font-size: 20px;
  color: #49A55A; /* Verde para el precio */
  font-weight: bold;
  margin-bottom: 20px;
}

.add-to-cart-button {
  background-color: #F1C405; /* Amarillo brillante */
  color: #944328; /* Texto oscuro */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-to-cart-button:hover {
  background-color: #EFAE0A; /* Amarillo oscuro al pasar el mouse */
}

/* Detalles adicionales */
.product-detail-additional {
  max-width: 400px;
  border: 1px solid #944328;
  border-radius: 8px;
  padding: 20px;
  background-color: #FFF;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product-detail-additional h2 {
  font-size: 22px;
  color: #944328;
  margin-bottom: 15px;
}

.product-detail-additional ul {
  list-style: none;
  padding: 0;
}

.product-detail-additional li {
  font-size: 16px;
  color: #4C6770;
  margin-bottom: 10px;
}
