/* General Layout */
.reset-password-page {
    display: flex;
    height: 100vh;
  }
  
  .left-side {
    width: 60%;
    background-image: url('https://i.pinimg.com/originals/53/ff/5b/53ff5be325c9976979b1a694a9081936.gif');
    background-size: cover;
    background-position: center;
  }
  
  .right-side {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f9;
  }
  
  /* Container to center the form */
  .reset-password-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: hsla(240, 80%, 81%, 0.658);
  }
  
  .reset-password-form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 80%;
  }
  
  /* Emoji and Title */
  h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
    color: #333;
  }
  
  .user-icon {
    font-size: 30px;
    margin-right: 10px;
  }
  
  /* Form Inputs */
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    font-size: 14px;
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
    display: block;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .form-group input:focus {
    border-color: #944328;
    outline: none;
  }
  
  .password-strength {
    font-size: 14px;
    color: #333;
    margin-top: 5px;
  }
  
  /* Error and Success Messages */
  .error-message {
    color: #ff0000;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .success-message {
    color: #28a745;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  /* Button */
  .reset-password-button {
    width: 100%;
    padding: 10px;
    background-color: #944328;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .reset-password-button:hover {
    background-color: #7c2d19;
  }
  
  /* Extra Styles */
  .left-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Signup Link Section */
  .signup-link {
    text-align: center;
    margin-top: 20px;
  }
  
  .signup-link p {
    font-size: 14px;
    color: #555;
  }
  
  .signup-link a {
    font-size: 14px;
    color: #944328;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .signup-link a:hover {
    color: #7c2d19;
    text-decoration: underline;
  }
  